
<!--@author Max Couch, Jake Mulrenin-->
<!-- code below will style a form for user to login / register.
This also holds the router information when you submit the form that 
will change the view to the game page-->

<div class="login-page">
    <div class="form">
        <form action="http://localhost:9999/MedicalRPG/add" method="post" class="register-form">
          <h2 style="color:white; font-size:50px; float:center">Register</h2>
            <span>
            <input type="text" placeholder="username" name="username" required/>
            <input type="password" placeholder="password" name="password" required/>
            </span>
            <br>
            <br>
            <span>
            <input type="text" placeholder="firstname" name="firstname" required/>
            <input type="text" placeholder="lastname" name="lastname" required/>
            </span>
            <br />
            <br>
            <button style="width:68%">Get Started</button>
        </form>
        <form action="http://localhost:9999/MedicalRPG/auth" method="post" class="login-form">
              <h2 style="color:white; font-size:50px">Login</h2>
            <input name="login-username" type="text" placeholder="username" required/>
            <input name="login-password" type="password" placeholder="password" required/>
            <br />
            <br>
            <button style="width:68%">Login</button>
        </form>
    </div>
</div>