<div>
  <h1>All Users:</h1>
  <h5>Name: {{this.globals.playerData[0].firstname}} {{this.globals.playerData[0].lastname}}</h5>
  <h5>Username: {{this.globals.playerData[0].username}}</h5>
  <br>
  <h5>Name: {{this.globals.playerData[1].firstname}} {{this.globals.playerData[1].lastname}}</h5>
  <h5>Username: {{this.globals.playerData[1].username}}</h5>
  <br>
  <h5>Name: {{this.globals.playerData[2].firstname}} {{this.globals.playerData[2].lastname}}</h5>
  <h5>Username: {{this.globals.playerData[2].username}}</h5>
  <br>
  <h5>Name: {{this.globals.playerData[3].firstname}} {{this.globals.playerData[3].lastname}}</h5>
  <h5>Username: {{this.globals.playerData[3].username}}</h5>
</div>