<!-- <div> -->
<!-- <ul>
    <li *ngFor="let player of highScoreData">{{player.username}} {{player.score}}</li>
  </ul> -->
<!-- </div> -->
<div>
  <h1>Top Scores:</h1>
  <h3>{{this.globals.highScoreData[0].username}}</h3>
  <h2>{{this.globals.highScoreData[0].score}}</h2>
  <h3>{{this.globals.highScoreData[1].username}}</h3>
  <h2>{{this.globals.highScoreData[1].score}}</h2>
  <h3>{{this.globals.highScoreData[2].username}}</h3>
  <h2>{{this.globals.highScoreData[2].score}}</h2>
  <h3>{{this.globals.highScoreData[3].username}}</h3>
  <h2>{{this.globals.highScoreData[3].score}}</h2>
  <h3>{{this.globals.highScoreData[4].username}}</h3>
  <h2>{{this.globals.highScoreData[5].score}}</h2>
</div>