<!-- <div> -->
<!-- <ul>
    <li *ngFor="let player of highScoreData">{{player.username}} {{player.score}}</li>
  </ul> -->
<!-- </div> -->
<div>
  <h3>Top 5 Scores:</h3>
  <p>> {{this.globals.highScoreData[0].username}} {{this.globals.highScoreData[0].score}}</p>
  <p>> {{this.globals.highScoreData[1].username}} {{this.globals.highScoreData[1].score}}</p>
  <p>> {{this.globals.highScoreData[2].username}} {{this.globals.highScoreData[2].score}}</p>
  <p>> {{this.globals.highScoreData[3].username}} {{this.globals.highScoreData[3].score}}</p>
  <p>> {{this.globals.highScoreData[4].username}} {{this.globals.highScoreData[4].score}}</p>
</div>