
 <div class="profile">
   <div class="profile-info">
     <p> firstname: </p>
     <p> lastname: </p>
     <p> username: </p>
     <p> password: </p>
   </div>
 <div class="inform">
  <form action="http://localhost:9999/MedicalRPG/delete" method="post">
  <input name="username" type="text" placeholder="username" required style="color:black;"/>
  <button style="width:68%">Login</button>
</form>
<form action="http://localhost:9999/MedicalRPG/score" method="post">
  <input type="text" name="username" required style="color:black;">
  <input type="text" name="score" required style="color:black;">
  <button>Submit</button></form>
  </div>
</div>

