body { 
    background: black;
}
.header{
    text-align: center;
}
.fullpage{
    display:flex;
    flex-direction:row;
    float:center;
    margin:auto;
    border:3px solid white;
    height:100vh;
    width:75vw;
}
.leaderboard{
    width: 50%;
}
.playerInfo{
    height:70vh;
}
.playButton{
    height:30vh;
}